.sticky-box {
    width: 100%;
    height: 50px;
    background-color: yellow;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}

.parent {
    position: relative;
}