.logo{
    width: 80px;
    height: auto;
    margin: 0 auto;
    display : block;
}
.text {
    text-align: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
} 




